*.o
*.a
playground/
lib/
src/nethack
util/makedefs
util/dlb
util/recover
util/tilemap
dat/nhdat
dat/data
dat/rumors
dat/oracles
dat/engrave
dat/epitaph
dat/bogusmon
include/date.h
Makefile
src/Makefile
util/Makefile
dat/Makefile
doc/Makefile
